<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>GrandPy BOT</h1>
    <input id="question" type="text">
    <button id="validate" onclick="ask()">Valider</button>
    <section id="chat" class="container">
        <p class="left">Bonjour mon petit. Pose moi donc ta question.</p>
    </section>
    <script src="/static/script.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVPd5yJinqskJEjbo1Xmd-9gMsmXwVReg&callback=initMap&libraries=&v=weekly"
      async
    ></script>
</body>
</html>
